</section>
</section>

</section>

<script src="/data-tables/jquery.dataTables.js"></script>
<script>
   $(document).ready(function() {
				oTable = $('#masterTable').dataTable({
					"bJQueryUI": true,
					"sPaginationType": "full_numbers"
				});
				
	
				
		
			} );
			
			
</script>

